<a href="https://colab.research.google.com/github/VladMarianciuc/Artificial-Intelligence-Course/blob/main/Laborator_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("hello again, world")
print(x)

hello again, world
3

## Variabile

### Atribuirea de valori unei variabile

Ii atribuim lui x valoarea 3. Nu este necesar sa il declaram pe x anterior sau sa ii declaram un tip de date.

In [ ]:
x = 3

###Afisarea valorii unei variabile

Functia `print()`

In [ ]:
print(x)

3

### Constante (literali). Separarea instructiunilor in Python

Putem folosi si valori constante sau literali, fara sa fie nevoie sa le stocam intr-o variabila. Afisarea si alte operatii functioneaza la fel (dar nu putem sa atribuim o valoare unui literal).

Instructiunile se separa in Python prin spatii albe (linie noua). Nu e nevoie de alti delimitatori intre instructiuni (cum ar fi `;`). Spatiile albe au semnificatie, de exemplu daca adaugam spatii la inceputul unei instructiuni ea va fi interpretata altfel (de obicei e nevoie de spatii inaintea instructiunilor imbricate, altfel vom primi eroare; vedem mai jos)

In [ ]:
print(3)
print("X")
print("Hello world")
print(3.14)
print(x)
#print(x, "=", 3.14)


cuvant = "pisica"
print(cuvant)

3
X
Hello world
3.14
3
pisica

### Comentarii

Comentariile in Python incep cu caracterul `#`. Orice apare dupa acest caracter va fi ignorat. Sunt folosite pentru a ajuta la claritatea codului, cu mesaje pentru alti dezvoltatori care il citesc (sau pentru noi insine in viitor).

In [ ]:
# Mai jos afisam variabila x.
print(x) # comentariul nu va avea niciun efect

3

## Tipuri de date

Implicit, variabilele in Python au tipuri (ele nu trebuie sa fie declarate, ci vor fi deduse implicit din context). Pot fi intregi (int), numere reale (float), valori de adevar (book), caractere, siruri de caractere, liste... 
Putem afla tipul unei variabile folosind functia `type()`.

In [ ]:
# Intregi
x = 89
print(x)
print(type(x))

89
<class 'int'>

In [ ]:
# Numere reale
x = 45.6
print(x)
print("Tipul lui x este acum", type(x))

45.6
Tipul lui x este acum <class 'float'>

In [ ]:
# Booleene
b = True
print("Valoarea lui b este ", b, " si tipul lui este ", type(b))

Valoarea lui b este  True  si tipul lui este  <class 'bool'>

In [ ]:
# Caractere si siruri de caractere - tipul str
# Sunt delimitate de apostrof sau ghilimele (indiferent - unul dintre putinele limbaje unde ' si " pot fi folosite interschimbabil, toate au tip str)
c1 = 'A'
s1 = 'ABC'
c2 = "a"
s2 = "abc"
print(c1, c2, s1, s2)
print(type(c1), type(c2))
print(type(s1), type(s2))

A a ABC abc
<class 'str'> <class 'str'>
<class 'str'> <class 'str'>

## Operatori

Operatorii pot fi folositi pentru a aplica operatii intre variabile sau constante. Operanzii trebuie sa aiba tipuri compatibile.

Operatori aritmetici: + - * / // % **

Operatori de comparatie: > < >= <= == !=

Operatori logici: or and not

Operatori de atribuire: = *= -= += /=

Lista completa: https://www.tutorialspoint.com/python/python_basic_operators.htm

In [ ]:
print(1.2 - 7.89)
print(14 * 2)

-6.6899999999999995
28

In [ ]:
print(1 / 2) # real number division
print(1 // 2) # integer division ("catul impartirii")
print(5 % 2) # modulus ("restul impartirii")

0.5
0
1

In [ ]:
x = 5
y = 7
suma = x + y
print(suma)

12

In [ ]:
s1 = "Un sir de "
s2 = "caractere"
print(s1 + s2)

Un sir de caractere

In [ ]:
print(s1 - s2) # Error - cannot substract strings

TypeError: ignored

In [ ]:
print("x to the power of 3 is ", x**3)

x to the power of 3 is  125

#### Expresii logice

In [ ]:
x = 5
print("x>7? ", x > 7) # greater than
print("x=5? ", x == 5) # equal
print("x!=3.2 ", x != 3.2) # not equal

x>7?  False
x=5?  True
x!=3.2  True

In [ ]:
expr = (x < 7) and (x != 3)
print("Is x smaller than 7 and different from 3? ", expr)

Is x smaller than 7 and different from 3?  True

In [ ]:
y = 23
expr = (x > 7) or (x > y)
print("Is x either larger than 7 or larger than y? ", expr)

Is x either larger than 7 or larger than y?  False

## Structuri de control

#### Structuri decizionale: if...else...

Apare formatarea imbricata cu spatiile albe indicand nivelul de adancime al instructiunii.

    if <conditie logica> :
        instr
    [else:
        instr]

In [ ]:
x = 5
if (x >= 10):
  print("x has two digits")  
  print("mai printam ceva")
  print("inca ceva")
else:
  print("x does not have two digits")
print("asta se va printa oricum")

x does not have two digits
asta se va printa oricum

In [ ]:
a=398
if (a < 10):
    print("a has one digit")
elif (a < 100):
    print("a has two digits")
elif (a < 1000):
    print("a has three digits")
else:
    print("a has more than three digits")

a has three digits

#### Bucle: 
while ...

for ...

In [ ]:
x = 50000
while (x > 0):
  x = x // 10
  print("x=", x)

x= 5000
x= 500
x= 50
x= 5
x= 0

In [ ]:
for i in range(5,11): #numerele de la 5 la 10
  print (i)

5
6
7
8
9
10

In [ ]:
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

## Colectii

#### String

In [ ]:
hello = 'hello' 
world = "world"

print(hello)
print(len(hello)) # length of string

hello
5

In [ ]:
hw = hello + ' ' + world # string concatenation
print(hw)

NameError: ignored

In [ ]:
hw12 = '%s %s %d' % (hello, world, 12) # string formatting
print(hw12)

hello world 12

In [ ]:
# Built-in functions for string operations
s = "hello"
print(s.capitalize())
print(s.upper())
print(s.lower())
print(s.replace('l', '(ell)')) 

print(' hello \
world   \n\n \
'.strip() ) # removing white space from the ends of the string

Hello
HELLO
hello
he(ell)(ell)o
hello world

In [ ]:
long_string = "This is a multi-word string.   many words"
print(long_string.split()) # splitting into words. Lately we will see more sophisticated functions for this

['This', 'is', 'a', 'multi-word', 'string.', 'many', 'words']

#### Liste

In [ ]:
l = [] # lista vida

In [ ]:
xs = [3, 1, 2]
print(xs, xs[2])
print(xs[-1]) # ultimul element
# listele sunt mutabile, elementele pot fi modificate intern
xs[2] = 'foo'
print(xs)

[3, 1, 2] 2
2
[3, 1, 'foo']

In [ ]:
l1 = [1, 2, 3]
l2 = [4, 5, 6, 7]
nums = l1 + l2
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
xs.append('bar')
xs += ['foobar'] # xs = xs + ['foobar'] # xs.append('foobar')
print(xs)

[3, 1, 'foo', 'bar', 'foobar', 'bar', 'foobar']

In [ ]:
# Slicing
print(nums[2:4])
print(nums[2:])
print(nums[:2])

[3, 4]
[3, 4, 5, 6, 7]
[1, 2]

In [ ]:
# Stringurile sunt liste de caractere
hello = "hello"
print(hello[1])

e

In [ ]:
# Iterarea printr-un sir de caractere litera cu litera
for i in range(len(hello)): # 0 1 2 3 4
  print(hello[i])

for c in hello:
  print(c)

h
e
l
l
o

In [ ]:
print(hw[0])
# stringurile nu sunt mutabile
hw[0] = 'x'
hw.replace('h', 'x') # ok

h

TypeError: ignored

In [ ]:
nums = [1, 2, 3, 4, 5]
if 3 in nums:
  print("3 is in the list")
else:
  print("3 is not in the list")

3 is in the list

In [ ]:
# Putem scrie codul mult mai scurt (nu neaparat mai simplu !!!) folosind list comprehensions:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

#### Dictionare

Perechi cheie, valoare

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}
print(d)
#d = {'cat': 1, 'dog': 2, 'other': 3}

{'cat': 'cute', 'dog': 'furry'}

In [ ]:
print(d['cat'])
print('cat' in d)
d['fish'] = 'wet' # 'fish': 'wet
print(d['fish'])

cute
True
wet

Sets

In [ ]:
animals = {'cat', 'dog'} # Set: unique elements
print('cat' in animals)
print('fish' in animals)

True
False

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
# union
print(A | B)
print(A.union(B))

# intersection
print(A & B)
print(A.intersection(B))

# diferenta
print(A - B)
print(A.difference(B))

# diferenta simetrica - elementele din reuniune care nu sunt in intersectie
print(A ^ B) # Afiseaza {1, 2, 3, 6, 7, 8}
A.symmetric_difference(B)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

#### Tuples

In [ ]:
# Tuples: similar to lists but immutable (can be used as keys in dictionaries)
t = (1,2,3,3,3,4)
print(t)

(1, 2, 3, 3, 3, 4)

## Intrebari

In [ ]:
???

## Exercitii

1. Se dau variabilele a, b si c cu valorile 5, -9, 12. Calculati media aritmetica si stocati-o intr-o variabila m.

In [ ]:
a = 5
b = -9
c = 12
m=(a+b+c)/3
print(m)

2.6666666666666665

2. Verificati daca media obtinuta este un numar pozitiv, si afisati un mesaj corespunzator.

Construiti o solutie care foloseste structura decizionala (`if`), si o alta solutie care afiseaza mesajul dintr-un singur rand de cod.

In [ ]:
if(m>=0):
  print('media este pozitiva')

media este pozitiva

In [ ]:
if(m>=0):print('media este pozitiva')

media este pozitiva

3. Se da un numar intreg x si un numar intreg y. Alegeti niste valori pentru fiecare, apoi verificati daca numarul x se imparte exact la y. Afisati un mesaj corespunzator.

In [ ]:
x = 45
y = 4
if(x%y==0):
  print('y il divide pe x')
else:
  print('y nu il divide pe x')

y nu il divide pe x

4. Se da cuvantul "garoafe". Stocati-l intr-o variabila. Numarati cate vocale apar in cuvant.

Hint: folositi o lista predefinita care contine toate vocalele

In [ ]:
x='garoafe'
vocale=[a for a in x if(a in 'aeiou')]
print(len(vocale))

4

5. Se da o lista de numere. Calculati suma numerelor si stocati-o intr-o variabila noua.

In [ ]:
l = [1, 7.8, 2, 4, 10, 32.12]
s=sum(l)
print(s)

56.92

6. Se da un numar x. Afisati pe rand fiecare cifra din numarul x. Calculati suma cifrelor lui x.

In [ ]:
x = 47292
s=0
l=[int(s) for s in str(x)]
for d in l:
  print(d)
  s+=d
print(f'suma este {s}')

4
7
2
9
2
suma este 24

7. Se da o lista de cuvinte. Construiti un sir care concateneaza la un loc toate cuvintele din lista.

In [ ]:
cuvinte = ["un", "cuvant", "mai", "multe", "alt", "pisica"]
sir=''
for cuv in cuvinte:
  sir+=cuv

print(sir)

uncuvantmaimultealtpisica

8. Se da un text format din mai multe cuvinte stocat intr-un sir de caractere t. Sa se imparta textul in cuvinte si sa se retina cuvintele gasite intr-o multime (set).

In [ ]:
t = "un text mai lung format din mai multe cuvinte . poate aparea acelasi cuvant de mai multe ori ."
t =t.replace('.','')
s =[cuv for cuv in t.split()]
print(s)

un text mai lung format din mai multe cuvinte  poate aparea acelasi cuvant de mai multe ori
['un', 'text', 'mai', 'lung', 'format', 'din', 'mai', 'multe', 'cuvinte', 'poate', 'aparea', 'acelasi', 'cuvant', 'de', 'mai', 'multe', 'ori']

9. Construiti un dictionar care sa creeze pentru fiecare cuvant dintr-un text cate un index numeric (in ordine crescatoare de la nr 1, ....). Cuvintele vor fi chei, iar indecsii numerici vor fi valori in dictionarul construit.

In [ ]:
d=dict(zip(list(range(1, len(s)+1)), s))
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
{1: 'un', 2: 'text', 3: 'mai', 4: 'lung', 5: 'format', 6: 'din', 7: 'mai', 8: 'multe', 9: 'cuvinte', 10: 'poate', 11: 'aparea', 12: 'acelasi', 13: 'cuvant', 14: 'de', 15: 'mai', 16: 'multe', 17: 'ori'}

10. Se da o lista de cuvinte. Creati o lista noua care pe locul fiecarui cuvant pune indexul sau din dictionarul definit anterior, iar daca cuvantul nu exista in dictionar pune valoarea 0.

Exemplu: ["un", "catel", "si", "o", "pisica"] -> [2, 1, 4, 5, 3]

In [ ]:
lista = ['lung', 'acelasi', 'pisica', 'mai', 'catel']
for key, cuv in d.items():
  if cuv in lista:
    lista[lista.index(cuv)]=key

for l in lista:
  if(type(l)==str):
    lista[lista.index(l)]=0

print(lista)

[4, 12, 0, 3, 0]